/*
We highly recommend you use SASS and write your custom styles in sass/_custom.scss.
However, this blank file is available if you prefer
*/

html {
	overflow-y: scroll;
}

.navbar ul {
	margin-top: 2.5em;
}
.navbar ul li > a {
	color: #000;
	transition: all .3s ease;
	border-top: 3px solid #fff;
	font-size: 1.25rem;
}

h1,h2,h3,h4 {
	color: #bf1e2e;
}

h2 {
	margin-top: 1em;
}

.navbar {
	margin-top: 1em;
}

#gallery .navbar ul li a {
	color: #fff;
}

.navbar ul li:hover > a, .navbar ul li.active > a {

	border-top: 3px solid #bf1e2e;
	color: #bf1e2e !important;
}

.navbar ul li.active > a {
	border-top: 3px solid #bf1e2e;
	color: #bf1e2e;
}

.navbar .logo,
.navbar .logo a {
	height:  auto;
}

.navbar .logo a img {
	max-height: 100%;
}

.main-content {
	border-top: 3px solid #ddd;
	background-color: #f5f6f7;
	padding-bottom: 40px;
	min-height: 100%;
}

.home-columns h2 {
	color: #bf1e2e;
	font-size: 56px;
	margin-top: 0;
}

.home-columns p {
	min-height:  7em;
	font-size: 1.3em;
}
footer {
	background-color: #ddd;
	padding: 1em 0;
	border-top: 1px solid #ccc;
}

footer p {
	color: #666;
	font-size: .8em; 
}

#carousel {
	margin: 3em 0 1em 0;
}
#carousel .item img {
  display: block;
  	border: 10px solid #ddd;
  width: 100%;
  height: auto;
  max-height: 60%;
}

#map {
	max-height: 300px;
}

.map-content {
	padding-top: 30px;
}

.bottom-plate {
	padding: 1em 0;
	margin: 1em 0;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
